<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<head>
  <link href="/app/assets/stylesheets/application.css" rel="stylesheet" />
</head>
  <body>
<!-- Navigation tabs -->
<div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">

<!-- All -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href"#all" area-controls="all" role="tab" data-toggle="tab">
     <h4> All </h4>
    </a>
  </li>
<!-- Orders -->
  <li role="presentation" class="active">
    <a href"#orders" area-controls="orders" role="tab" data-toggle="tab">
      <h4> Orders </h4>  
    </a>
  </li>

  <!-- Products -->
<li role="presentation" class="active">
    <a href"#products" area-controls="products" role="tab" data-toggle="tab">
      <h4> Products </h4>
    </a>
  </li>

</ul>
    </div>
      </div>
        </div>

    <div class="container">
    <h1>Shopivents</h1>
          <% @events.each do |event| %>
        <li class="list-group-item">
          <p>
           <%= event.author %>
           <%= change_url(event.message).html_safe %>
          </p>
          <p>
           <%= time_ago_in_words(event.created_at) %> ago
          </p>
        </li>
    <% end %>
    </div>
  </body>
  <footer style="height: 15px;">
  <div class="footer">
    <p>
    </p>
  </div>
  </footer>

