<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<h1>Shopivents</h1>
<table>
  <tbody>
     <% @events.each do |event| %>
        <li>
          <p>
           <%= event.author %>
           <%= event.message %>
          </p>
          <p>
           <%= event.created_at %>
          </p>
        </li>
    <% end %>
  </tbody>
</table>
